<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239881148207-n1gvui67qqvjia1kpcso5knn8fjir2qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239881148207-n1gvui67qqvjia1kpcso5knn8fjir2qg</string>
	<key>API_KEY</key>
	<string>AIzaSyDQUU-MVwtnQwfPgQ9aZvTHpXyLHkAvmlc</string>
	<key>GCM_SENDER_ID</key>
	<string>239881148207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jacobo.diaz.com.ExamenJD</string>
	<key>PROJECT_ID</key>
	<string>upax-234303</string>
	<key>STORAGE_BUCKET</key>
	<string>upax-234303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239881148207:ios:03dafeee6abb1293bab3da</string>
</dict>
</plist>